
<div class="auth-container">
    <h1 class="MainTitle">Welcome to lol Atlas</h1>
    <div class="box">
        <h2>LOGIN TO SUMMONER ACCOUNT</h2>
        <form class="LolAtlasForm">
            <div class="inputWithIcon">
                <label for="summonername" style="display: none;">Summoner Name: </label>
                <input type="text" id="summonername" placeholder="Summoner Name" class="form-control">
                <app-svg icon="user"></app-svg>
            </div>
            <div>
                <button class="btn btn-primary">Start</button>
            </div>
        </form>
        <!-- <a class="btn" href="#login">Let me Pop up</a> -->
    </div>
    <div id="login" class="overlay">
        <div class="popup">
            <h2>LOGIN TO SUMMONER ACCOUNT</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <form class="LolAtlasForm">
                    <div class="inputWithIcon">
                        <label for="summonername" style="display: none;">Summoner Name: </label>
                        <input type="text" id="summonername" placeholder="Summoner Name" class="form-control">
                        <app-svg icon="user"></app-svg>
                    </div>
                    <div>
                        <button class="btn btn-primary">Start</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
