<div class="flex-between sms8-shell-header">
    <a href="/" class="top-logo flex-middle-center">
        <app-svg icon="logo" title="logo" viewBox="0, 0, 400,333.33333333333337"></app-svg>
    </a>
    <nav class="flex-between">
        <div class="separate flex-middle" style="visibility:visible">
			<a href="javascript:void(0)" class="ui-tab flex-middle" data-tab="Manage Websites">Manage My Sites</a>
        </div>
        <ul class="flex-end separate divide">
            <app-summoner-card class="settings"></app-summoner-card>
        </ul>
    </nav>
</div>