<p>location-management works!</p>
<router-outlet></router-outlet>
<div style="width: 100%">
    <section class="sm-table full space-20">
        <header class="sm-header fill flex-middle-between">
            <div class="flex-middle fill- lighten divide space-20">
                <h4>Locations</h4>
                <ul class="sm-nav flex-middle space-5 capsule">
                    <li>Hello</li>
                </ul>
            </div>
            <ul class="flex-middle space-20">
                <li>hi</li>
            </ul>
        </header>
        <table cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th><a href="javascript:void('Sort')" class="ui-sort" data-orderby="FranchiseLocationName">Business Name</a></th>
                    <th><a href="javascript:void('Sort')" class="ui-sort" data-orderby="OwnerFirstName,OwnerLastName">Owner Name</a></th>
                    <th><a href="javascript:void('Sort')" class="ui-sort" data-orderby="FranchiseLocationPath">URL</a></th>
                    <th><a href="javascript:void('Sort')" class="ui-sort" data-orderby="City">City</a></th>
                    <th><a href="javascript:void('Sort')" class="ui-sort" data-orderby="LocationState">State</a></th>
                    <th><a href="javascript:void('Sort')" class="ui-sort desc" data-orderby="PPCBudget">Budget</a></th>
                    <th><span>External ID</span></th>
                    <th><a href="javascript:void('Sort')" class="ui-sort desc" data-orderby="LastSMSLogin">Last Login</a></th>
                    <th><a href="javascript:void('Sort')" class="ui-sort desc" data-orderby="WizardCompletionPercent">Status</a></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr p-template="Item" data-item="i" data-key="8040" _s="23321" _e="28683">
                    <td _s="23349" _e="23790">
                        <a href="/franchise/franchise-setup/general/?location=e2704132c73450cd26fcb28a5f716c6d0ff65ae03d82aa35c7396bee0e480ea281f8e75ece835384" class="tip-above fromleft" _s="23360" _e="23707">
                            <strong _s="23534" _e="23696">
                                Dicycle Franchise of Mars
                            </strong>
                        </a>
                    </td>
                    <td _s="23797" _e="23837">Mark Hanebut</td>
                    <td _s="23844" _e="24420">
                        <a href="http://www.dicyclefranchise.com/mars" target="_blank" class="flex-inline-middle space-5 tip-above fromleft" data-tip="www.dicyclefranchise.com/mars" _s="23891" _e="24304">
                            <strong _s="24021" _e="24228">
                                mars
                            </strong>
                            <svg viewBox="0 0 36 36" class="e-12" data-use="/cms/svg/admin/w8q7x2jauhj.36.svg#go_to_page">
                                <path d="M36 21.6v14.4h0v0H0V0h14.4v3.6H3.6v28.8h28.8V21.6H36zM21.6 0v3.6h8.28L13.68 19.8l2.52 2.52L32.4 6.12V14.4h3.6V0H21.6z"></path>
                            </svg>
                        </a>
                    </td>
                    <td _s="24427" _e="24441">Valencia</td>
                    <td _s="24448" _e="24471">CA</td>
                    <td _s="24478" _e="26673"></td>
                    <td _s="26680" _e="26785">9999</td>
                    <td _s="26792" _e="26942">—</td>
                    <td _s="26949" _e="27313">
                        <div class="sm-progress tip-top has-tip" _s="27047" _e="27290">
                            <div class="value bg" style="width:27%" _s="27097" _e="27168"></div>
                            <div class="tip" _s="27178" _e="27276">
                                <strong class="title" _s="27205" _e="27240">Title</strong>
                                    Description
                            </div>
                        </div>
                    </td>
                    <td _s="27320" _e="28673">
                        <div data-dd="true" _s="27331" _e="28662">
                            <div class="sm-dd-panel" data-role="panel" _s="27359" _e="28517">
                                <h3 _s="27411" _e="27426">Actions</h3>
                                <ul class="dd-nav" data-role="items" _s="27436" _e="28503">
                                    <li _s="27483" _e="27607">
                                        <a href="/franchise/franchise-setup/general/?location=6bbc6b19136b3a63c2746dbaad57a7793635177bf8c3a5ca787ae2dba5adb947bd56756abec6fbec" _s="27498" _e="27592">Edit</a>
                                    </li>
                                    <li _s="27618" _e="27700">
                                        <a href="http://www.dicyclefranchise.com/mars" target="_blank" _s="27633" _e="27685">View Live</a>
                                    </li>
                                    <li _s="27751" _e="28139">
                                        <a href="javascript:void('Trigger')" data-reload="#LocationManagement" data-id="8040" data-grid="FranchiseLocationRenameRequest" data-post="{&quot;Path&quot;:&quot;mars&quot;}" data-search="FranchiseLocationID" _s="27767" _e="28123">Rename</a>
                                    </li>
                                    <li _s="28151" _e="28474">
                                        <a href="javascript:void('Trigger')" data-reload="#LocationManagement" data-id="8040" data-grid="DeactivateLocation" data-search="FranchiseLocationID" _s="28167" _e="28458">Deactivate</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="javascript:void(0)" class="sm-dd" data-role="start" _s="28526" _e="28649">
                                <svg viewBox="0 0 24 24" data-use="/cms/svg/admin/w8q7x2jauhj.24.svg#actions">
                                    <circle cx="12" cy="3" r="2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <circle cx="12" cy="12" r="2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <circle cx="12" cy="21" r="2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></circle>
                                </svg>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>